@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  padding: auto;
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 1024px;
  width: 1440px;
  left: -713px;
  top: -1603px;
  border-radius: 0px;
}
.content {
  position: absolute;
  height: 750px;
  width: 1400px;
  left: 152px;
  top: 183px;
  border-radius: 1px;
  border-style: solid;
  color: #181059;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
}
.titledescription {
  font-size: 20px;
  text-align: center;
}
.paymentmethod {
  display: flex;
  justify-content: center;
}
.paymentmethod p {
  font-size: 16px;
  font-weight: bold;
}
span {
  font-size: 16px;
  font-weight: lighter;
}
.plandetails {
  display: flex;
  justify-content: space-around;
}
.plan1 {
  background: #fff;
  border-radius: 24px;
  padding: 24px;
  width: 260px;
  height: 417px;
  margin-left: 10px;
}
.plan-heading1 {
  text-align: left;
  font-size: 24px;
  color: #181059;
}
.plan-feature1 {
  color: #181059;
  list-style: none;
  padding: 0px;
  text-align: left;
  font-size: 16px;
}
.plan-feature1 li:before {
  content: "✓";
  padding-right: 5px;
  margin-right: 16px;
  color: #181059;
}
.plan-feature1 li {
  margin-bottom: 16px;
  display: flex;
}
.plan-feature1 li:not(:first-of-type) {
  opacity: 0.5;
}
.planamount {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #181059;
}
.plandureation {
  color: #181059;
}
.planchoose {
  color: #8645ff;
  font-size: 16px;
}
.plan2 {
  background: #fff;
  border-radius: 24px;
  width: 260px;
  height: 417px;
  margin-left: 10px;
  padding: 24px;
}
.plan-heading2 {
    text-align: left;
    font-size: 24px;
    color: #181059;
  }
  .plan-feature2 {
    color: #181059;
    list-style: none;
    padding: 0px;
    text-align: left;
    font-size: 16px;
  }
  .plan-feature2 li:before {
    content: "✓";
    padding-right: 5px;
    margin-right: 16px;
    color: #181059;
  }
  .plan-feature2 li {
    margin-bottom: 16px;
    display: flex;
  }
  .plan-feature2 li:nth-last-child(-n + 3) {
    opacity: 0.5;
  }
.plan3 {
  background: #fff;
  border-radius: 24px;
  background-color: #181059;
  border-style: solid;
  width: 260px;
  height: 417px;
  margin-left: 10px;
  padding: 24px;
  
}
.plan-heading3 {
    text-align: left;
    font-size: 24px;
    color: #fff;
  }
  .plan-feature3 {
    color: #fff;
    list-style: none;
    padding: 0px;
    text-align: left;
    font-size: 16px;
  }
  .plan-feature3 li:before {
    content: "✓";
    padding-right: 5px;
    margin-right: 16px;
    color: #fff;
  }
  .plan-feature3 li:last-child:before {
    content: "✖";
  }
  .plan-feature3 li {
    margin-bottom: 16px;
    display: flex;
  }
  .plan-feature3 li:nth-child(5) {
    opacity: 0.5;
  }
  .plan-choose3 {
    width: 100%;
    background: #8645ff;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
  }
.plan4 {
  background: #fff;
  border-radius: 24px;
  width: 260px;
  height: 417px;
  margin-left: 10px;
  padding: 24px;
}
.plan-heading4 {
    text-align: left;
    font-size: 24px;
    color: #181059;
  }
  .plan-feature4 {
    color: #181059;
    list-style: none;
    padding: 0px;
    text-align: left;
    font-size: 16px;
  }
  .plan-feature4 li:before {
    content: "✓";
    padding-right: 5px;
    margin-right: 16px;
    color: #181059;
  }
  .plan-feature4 li {
    margin-bottom: 16px;
    display: flex;
  }

