@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  background: #f6f5fa;
  display: grid;
  place-items: center;
  height: 100vh;
}
.content {
  color: #181059;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
}
.titledescription {
  font-size: 20px;
  text-align: center;
}
.paymentmethod {
  display: flex;
  justify-content: center;
}
.paymentmethod p {
  font-size: 16px;
  font-weight: bold;
}
span {
  font-size: 16px;
  font-weight: lighter;
}
.plandetails {
  display: flex;
  justify-content: space-around;
}
.plan {
  background: white;
  border-radius: 24px;
  padding: 24px;
  color: #181059;
  font-family: "Inter", sans-serif;
  transition: all 1s;
}
.plan-heading {
  text-align: left;
  font-size: 24px;
}
.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-feature {
  list-style: none;
  padding: 0px;
  text-align: left;
  font-size: 16px;
}
.plan-feature li:before {
  content: "✓";
  padding-right: 5px;
  margin-right: 16px;
}
.plan-feature li {
  margin-bottom: 16px;
  display: flex;
}
.planamount {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
.planchoose {
  color: #8645ff;
  font-size: 16px;
}
.planchoose {
  width: 100%;
  background: #8645ff;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 12px;
  font-weight: bold;
}
.plan-save {
  background: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  color: #8645ff;
  font-weight: bold;
}
.plan:first-child .plan-feature li {
  opacity: 0.3;
}
.plan:first-child .plan-feature li:first-child {
  opacity: 1;
}
.plan:first-child .plan-feature li:nth-child(n + 2):before {
  content: "X";
}

.plan:nth-child(2) .plan-feature li:nth-child(n + 3) {
  opacity: 0.3;
}
.plan:nth-child(2) .plan-feature li:nth-child(n + 3):before {
  content: "X";
}

.plan:nth-child(3) .plan-feature li:nth-child(n + 5) {
  opacity: 0.3;
}

.plan:nth-child(3) .plan-feature li:nth-child(n + 5):before {
  content: "X";
}
.plan:hover {
  background: #181059;
  color: #ffffff;
}
.plandetails {
  display: grid;
  grid-template-columns: 4fr;
  gap: 30px;
}
@media (min-width: 440px) {
  .plandetails {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 760px) {
  .plandetails {
    grid-template-columns: repeat(4, 1fr);
  }
  .plan:hover {
    transform: scale(1.1);
  }
}
